#modal-info-proyects{
    z-index: 1200 !important;
}

#image-modal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
    gap: 5%;
}

#content-modal p{
    text-align: justify;
}

#vertical-more{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

